
@import "tailwindcss";

*{
  font-family:  Helvetica, "sans-serif";
}

li{
   font-family:  Helvetica, sans-serif;
}

.workcard .image-container{
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.show-work-card-container {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
/* .work-card-container{
  transform:translateX(-120px);
  transition:all .5s
} */

.summary-home-page{
  opacity:0;
  transform:translateY(50px);
}

span,h1,li,p,h1,h2,h3,h4,h5{
  line-height:1.3em;
}

html::-webkit-scrollbar {
  display: none;
}