 @font-face {
  font-family:"helveticanowtext" ;
  src: url("../font/HelveticaNowText-Regular.ttf");
 }


  @font-face {
  font-family:"EBGaramond12" ;
  src: url("../font/EBGaramond12-Regular.ttf");
 }


 @import "tailwindcss";
 .helveticanowtext{
  font-family: "helveticanowtext", sans-serif;
}


.EBGaramond12{
  font-family: "EBGaramond12", serif !important;
}

li{
   font-family:  Helvetica, sans-serif;
}

.workcard .image-container{
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.show-work-card-container {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

/* .work-card-container{
  transform:translateX(-120px);
  transition:all .5s
} */

.summary-home-page p{
  line-height: 1.2em;
  /* clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%); */
}

.summary-home-page p div{
  line-height: 1.2em;
  overflow:hidden
}

span,h1,li,p,h1,h2,h3,h4,h5{
  line-height:1.3em;
}

html::-webkit-scrollbar {
  display: none;
}

.author-description  div  {
 clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.author-description  div  div {
  opacity:0;
  transition:translateY(100px) !important;
  transform: transition 0.5s 
}